<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="CapturaApoyosPython"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath=".\.venv\Scripts\python.exe"
                  arguments="run_iis.py"
                  startupTimeLimit="180"
                  startupRetryCount="3"
                  requestTimeout="00:10:00"
                  processesPerApplication="1"
                  forwardWindowsAuthToken="false"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\httpplatform">
      <environmentVariables>
        <environmentVariable name="PYTHONDONTWRITEBYTECODE" value="1" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="26214400" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
  </system.webServer>
</configuration>
